.question{
	    background: #F7F7F7;
	    padding: 1em;
	    margin: .5em 0;
	    overflow: auto;	
}

.answer{
    font-size: 14px;
    line-height: 1.4;
    padding: 16px;
    border-radius: 3px;
    overflow: scroll;
    border: 1px solid #ddd;
    max-height: 30%;	

}
